<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<main id="app" class="w-screen h-screen flex flex-col justify-around items-center">


		
		<section class="w-1/3">
			<label>Current username: </label>
			<input type="text" v-model="username" v-on:change="registername()" placeholder="New username">
		</section>
		<section class="h-4/5 bg-gray-100 mt-4 pt-2 text-white w-5/6 flex flex-col rounded-2xl overflow-y-auto justify-end">
			
		<div v-for="(message, index) in messages" class="">
			<div class="rounded-lg mr-4 ml-4 m-2 p-2 " v-bind:class="{ 'bg-gray-800': message.user == username, 'bg-blue-500': message.user != username }">
				<p class="text-xs bruh">{{message.user}}</p>
				<p class="text-lg">{{message.text}}</p>
			</div>
		</div>
		<section class="rounded-lg m-4 h-8 flex">
			<input type="text" placeholder="Type a message" v-model="bruh" class="h-full w-10/12 text-gray-800 rounded-l-lg pl-2">
			<div class="h-full w-2/12 flex items-center justify-center bg-white rounded-r-lg">
				<button v-on:click="sendmessage()" class="bg-blue-500 rounded w-full">
					<p class="btn">
						send
					</p>
				</button>
			</div>
		</section>
	</section>



	</main>
	<script src="../dist/js/index/index.js"></script>

	<style>
		.bruh {
			margin-bottom: -0.35rem;
		}

		.btn {
			margin-top: -0.3rem;
			padding-top: -0.3rem;
		}
	</style>
</body>
</html>